.bd-tib-btn { 
	width: 120px;

	display: inline-block;
	box-sizing: content-box;
	vertical-align:middle;

	padding:0;
	border: none; 
	background: transparent; 
	}


.bd-tib-btn object, .bd-tib-btn svg {
	width: inherit;
	height: inherit;
	pointer-events: none;
	}
.bd-tib-btn .bd-btn-cover { pointer-events: all; }



/*FACE*/
	.bd-tib-btn .bd-btn-backdrop 	{ fill: #4657a5; }  /* customised background-color: */
	.bd-tib-btn .bd-btn-untibbed, 
	.bd-tib-btn .bd-btn-tibbed 		{ fill: white; }
	.bd-tib-btn .bd-btn-counter		{ fill: white; font-family: sans-serif; }
	.bd-tib-btn .bd-btn-countersurround { stroke: #BCBCBC; }   /*needs changing from fill to stroke in source*/

/*TESTNET*/
	.bd-tib-btn 		.bd-btn-testnet 			{ visibility: hidden; fill: black; 	}
	.bd-tib-btn 		.bd-btn-testnet-backdrop 	{ fill: yellow; stroke: yellow; }
	.bd-tib-btn.testnet .bd-btn-testnet 			{ visibility: visible; 	}

/*HOVER*/
	.bd-tib-btn 		.bd-btn-cover 			{ fill: transparent; }
	.bd-tib-btn 		.bd-btn-cover:hover 	{ cursor: pointer; }
	.bd-tib-btn 		.bd-btn-hover 			{ transition: 0.3s; fill: white; }
	.bd-tib-btn 		.bd-btn-cover:not(:hover) ~ .bd-btn-hover 	{ opacity: 0; }  /*hide bd-btn-hover on not hovered*/

/*TIBBED*/
	.bd-tib-btn        	.bd-btn-tibbed 		{ visibility: hidden;  }
	.bd-tib-btn        	.bd-btn-untibbed	{ visibility: visible; }
	.bd-tib-btn.tibbed 	.bd-btn-tibbed 		{ visibility: visible; }
	.bd-tib-btn.tibbed 	.bd-btn-untibbed 	{ visibility: hidden;  }
	.bd-tib-btn.tibbed  .bd-btn-hover		{ visibility: hidden;  }

/*********************************/


/*DEFAULT*/
	.bd-tib-btn-default .bd-ai-st5 { fill: black; opacity: 0.2; }  /*permanent tint lower half*/
	.bd-tib-btn-default .bd-btn-testnet-backdrop  { stroke-width: 2px; }
	.bd-tib-btn-default .bd-btn-hover { opacity: 0.2; }


/*CHEVRON*/
	.bd-tib-btn-chevron .bd-ai-st1,
	.bd-tib-btn-chevron .bd-ai-st3 { fill: black; stroke: black; opacity: 0.4; }  /*counter tag*/
	.bd-tib-btn-chevron .bd-btn-hover { opacity: 0.4; fill: black; }
	.bd-tib-btn-chevron .bd-btn-counter {  font-size: 12px;  }


/*BUBBLE*/
	.bd-tib-btn-bubble 	.bd-btn-counter { font-size:18; }
	.bd-tib-btn-bubble 	.bd-ai-st10	{ fill:black; opacity:0.2; } /*tint lower half */
	.bd-tib-btn-bubble  .bd-btn-hover { opacity: 0.2; }


/*VERT*/
	.bd-tib-btn-vert .bd-btn-counter { fill:black; font-size:21; }
	.bd-tib-btn-vert .bd-btn-hover { opacity: 0.2; }


/*COIN*/
	.bd-tib-btn-coin .bd-btn-testnet-backdrop { fill:none; stroke-width:9; }
	.bd-tib-btn-coin .bd-btn-hover { opacity: 0.2; }


/*POSTER*/
	.bd-tib-btn-poster .bd-btn-hover { opacity:0.2; }
	.bd-tib-btn-poster .bd-ai-st4 { opacity:0.5; fill: black; } /* colour two */
	.bd-tib-btn-poster .bd-ai-st10 { font-size:18; }


/*HEX*/
	.bd-tib-btn-hex .bd-btn-hover { opacity:0.2; } /* missing from svg ? */


/*HORIZ*/
	.bd-tib-btn-horiz .bd-ai-st1 { opacity:0.3; }
	.bd-tib-btn-horiz .bd-ai-st4 { fill:white; }
	.bd-tib-btn-horiz .bd-btn-counter { font-size:14; fill: black; }


/*SHADOW*/
	.bd-tib-btn-shadow .bd-ai-st0 { visibility:hidden; opacity:0.8; }
